<% if @seguimiento.errors.blank? %>
  $('#contact-modal').modal('hide');
  $('table tbody').append('<%= j render "user_row", seguimiento: @seguimiento %>');
 $('.alert').remove();
<% else %>
$(".alert").css("display", "block");
  // TODO: show the errors in the UI
  $('.alert').empty('<p></p>');
  <% @seguimiento.errors.full_messages.each do |msg| %>
          $('.alert').append('<p><%=msg%></p>');
        <% end %>

<% end %>