/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require font-awesome
 *= require bootstrap-multiselect
 *= require chosen
 *= require_tree .
 *= require_self
 */
body
{
	margin:0px;
}
.head1
{
	margin:10px;
}

.login
{
	       background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid #ffffff;
    padding: 56px;
    color: #ed7741;
}
.loginsubmit
{
    width: 100%;
}

.volver
{
	padding: 5px 20px !important;
}
.formsig
{
	margin-top: 20px;
}
.btn-primary
{
	color:white !important;
}
.btn-danger:visited
{
	color:white !important;
}
h1
{
	color:#e74b09 !important;
	margin: 0px !important;
}
  .opciones
    {
    color:#7a7a7a;
    margin-right:10px;
    font-size:16px;
    }
     .opciones:focus
    {
    color:#7a7a7a;
    
    }
     .opciones:hover
    {
   text-decoration:none;
   color:#7a7a7a !important;
    }