// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



 label
 {
  color:#737373;
 } 
 .titulo
 {

  margin: 0px 0px 5px 0;
    color: #e74b09;
    font-weight: 800;
 }
 .pad
 {
  padding: 0px
 }
 .top10
 {
  margin-top: 10px;
 }

hr
{
    border-top:	1px solid rgba(230, 87, 87, 0.65) !important;
}
.tarea
{
	height:150px !important;
}
.btn .caret
{   margin-left: 66%;

}