<select class="form-control sel pri chosen-select" name="report[yarn_type_id]" id="yarn_type_id">
<% @yarns.each do  |yarn|%>
<option value="<%=yarn.id%>"><%=yarn.name%></option>
<%end%>
</select>

    <button type="button" class="bt " data-toggle="modal" data-target="#myModal_yarn"><i class="fa fa-plus" aria-hidden="true"></i>
</button>


<style>
.bt
{
    padding: 0px 0px;
    background: white;
    color: #46b8da;
    border: none;
}	
</style>

<script>
	$('.bt').click(function() {
		// body...

	 $('#name_yarn').val("");
   
 
	});
</script>