<div id="myModal_problem" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Create Problem</h4>
      </div>
<form clasd = "myForm_problem">
      <div class="modal-body">
<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name_problem">
  </div>





 
<br>

      <div class="modal-footer text-center">
       
        
       <input class = "btn btn-primary" type="button" onclick="myFunction_problem()" value="Crear" data-dismiss="modal">      </div>
</form>

    </div>
  </div>
</div>
</div>