<%- model_class = Report -%>

<% if @tipo == "rcc"%>

<div class="page-header">
  <h1>Edit RCC Report</h1>
</div>
<%= render :partial => 'form' %>

<% else %>

<div class="page-header">
  <h1>Edit Prestamos</h1>
</div>
<%= render "form_prestamo"%>

<% end -%>
