<%- model_class = Report -%>

<% if @report.type_report == "rcc"%>

  <div class="page-header">
    <h1>Report</h1>
  </div>
  <%= render "show_rcc" %>

<% else %>

  <div class="page-header">
    <h1>Developers</h1>
  </div>
  <%= render "show_prestamo"%>

<% end -%>
