<!DOCTYPE html>
<html>
  <head>
    <title>RCCReports</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  

  
  
  
    
  

    <%= yield %>
  </body>
</html>
<style>
body
{
  background-image: url("/assets/fondo.png")
}
</style>