<!DOCTYPE html>
<html>
  <head>
    <title>RCCReports</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  

  
  
  
    
  

    <%= yield %>
  </body>
</html>
<style>
body
{
 
background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), 
 url('/assets/fondo1.png')no-repeat center top;
  background-size: cover;
}
</style>

